@-webkit-keyframes slideInFromRight {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes slideInFromUnder {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInFromUnder {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes downArrow {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(70%);
    opacity: 0;
  }
}
@keyframes downArrow {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(70%);
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fadeInOut-zoom {
  0% {
    transform: scale(1.1);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes fadeInOut-zoom {
  0% {
    transform: scale(1.1);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.p-footer {
  width: 100%;
  height: 100%;
  background-color: rgba(39, 39, 39, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
@media (min-width: 768px) {
  .p-footer {
    width: 54%;
    background-color: rgba(39, 39, 39, 0.8);
  }
}
@media (min-width: 1100px) {
  .p-footer {
    width: 38%;
  }
}
.p-footer .footer_nav {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1100px) {
  .p-footer .footer_nav {
    margin-top: 64px;
  }
}
.p-footer .footer_nav .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-footer .footer_nav .menu .menu-item {
  font-family: "Teko", serif;
  font-weight: 500;
  font-size: 2rem;
  color: #EFF1F7;
  letter-spacing: 0.1rem;
  margin-bottom: 30px;
}
.p-footer .footer_nav .c-insta-icon {
  width: 24px;
  height: 24px;
}
.p-footer .footer_nav ul .menu-item:hover {
  transform: translateY(-2px);
  transition: 0.3s;
}
/*# sourceMappingURL=p-footer.css.map */