@-webkit-keyframes slideInFromRight {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes slideInFromUnder {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInFromUnder {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes downArrow {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(70%);
    opacity: 0;
  }
}
@keyframes downArrow {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(70%);
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fadeInOut-zoom {
  0% {
    transform: scale(1.1);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes fadeInOut-zoom {
  0% {
    transform: scale(1.1);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.p-header {
  width: 92%;
  margin: 24px auto;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1100px) {
  .p-header {
    margin-top: 40px;
  }
}
.p-header .gigi-logo {
  width: 72px;
}
@media (min-width: 1100px) {
  .p-header .gigi-logo {
    width: 124px;
  }
}
.p-header .gigi-logo a {
  display: inline-block;
  width: 100%;
}
.p-header .gigi-logo a svg {
  fill: #EFF1F7;
  filter: drop-shadow(1px 1px 1px #14161B);
}
.p-header .header__nav {
  display: none;
}
@media (min-width: 768px) {
  .p-header .header__nav {
    display: block;
  }
}
.p-header .header__nav .menu {
  width: 380px;
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}
.p-header .header__nav .menu .menu-item {
  font-family: "Teko", serif;
  font-size: 2.1rem;
  font-weight: 500;
  color: #EFF1F7;
  transition: 0.3s;
}
.p-header .header__nav .menu .menu-item a {
  text-shadow: 0.5px 0.5px 0 #14161B;
  letter-spacing: 0.1rem;
  transition: 0.2s;
}
.p-header .link-unit {
  width: 164px;
  margin-top: 10px;
  display: none;
}
@media (min-width: 768px) {
  .p-header .link-unit {
    display: flex;
    justify-content: space-between;
  }
}
.p-header .header__nav .menu .menu__item:hover {
  transform: translateY(-2px);
}
.p-header .header__nav .menu .menu__item:hover a {
  text-shadow: 0.5px 3px 0 #14161B;
}

.archive-item-page .l-main .l-header .p-header .gigi-logo a svg {
  fill: #14161B;
  filter: drop-shadow(1px 1px 2px #c8cdd0);
}
.archive-item-page .l-main .l-header .p-header .header__nav .menu .menu__item {
  color: #14161B;
}
.archive-item-page .l-main .l-header .p-header .header__nav .menu .menu__item a {
  text-shadow: 0.5px 0.5px 0 #c8cdd0;
}

.archive-item-page .l-main .l-header .p-header .link-unit .c-insta-icon a .cls-1 {
  fill: #14161B;
  filter: drop-shadow(20px 20px 0 #c8cdd0);
}
/*# sourceMappingURL=p-header.css.map */