@charset "UTF-8";


//foundation
@use "foundation/reset";
@use "foundation/base";
@use "foundation/fonts";
@use "foundation/keyframes";
@use "foundation/variables";

//layout
@use "layout/footer";
@use "layout/wrapper";
@use "layout/header";

//object_component
@use "object/component/link-btn";
@use "object/component/contact-btn";
@use "object/component/menu-btn";
@use "object/component/section__title";
@use "object/component/square-mark";
@use "object/component/slider-btn";
@use "object/component/insta-icon";

//object_project
@use "object/project/catch";
@use "object/project/main-visual";
@use "object/project/about";
@use "object/project/orderproduct";
@use "object/project/p-footer";
@use "object/project/p-header";
@use "object/project/flow-section";
@use "object/project/originalitems";
@use "object/project/instagram";
@use "object/project/partner";
@use "object/project/copyright";
@use "object/project/swiper-area";
@use "object/project/sidebar";
@use "object/project/archive__heading";
@use "object/project/archive__content";
@use "object/project/pagination";

//object_utility
@use "object/utility/active-animation";
@use "object/utility/noScroll";