@charset "UTF-8";
@use "../../foundation/variables" as var;


.c-insta-icon {
    width: 28px;
    height: 28px;
    transition: 0.2s;
    
    a {
        display: inline-block;
        width: 100%;
        height: 100%;

        .cls-1 {
            fill: var.$white;
            filter: drop-shadow( 20px 20px 0 var.$black);
        }
    }
}

.c-insta-icon:hover {
    transform: scale(1.1);
}