@charset "UTF-8";
@use "../../foundation/variables" as var;


.c-menu-btn {
    font-family: "Teko", serif;
    font-size: 2.4rem;
    font-weight: 500;
    color: var.$white;
    letter-spacing: 0.1rem;
    text-shadow: 0.5px 0.5px 1.5px var.$black;
    align-self: center;
    position: relative;
    @include var.breakpoint(tablet) {
        display: none;
    }
}

.c-menu-btn::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var.$white;
    box-shadow: 0.3px 0.3px 1.0px var.$black;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

.c-menu-btn:hover::after {
    bottom: -3px;
}

.archive-item-page .l-main .l-header .p-header {
    .c-menu-btn {
        color: var.$black;
        text-shadow: 0.5px 0.5px 1.5px var.$white;
    }
    .c-menu-btn::after {
        background-color: var.$black;
        box-shadow: 0.3px 0.3px 1.0px var.$white;
    }
}