@charset "UTF-8";
@use "../../foundation/variables" as var;


.c-square-mark {
    width: 12px;
    height: 12px;
    min-width: 12px;
    border-radius: 1px;
    background-color: var.$fire;
    @include var.breakpoint(pc) {
        width: 16px;
        height: 16px;
    }
}