@charset "UTF-8";
@use "../../foundation/variables" as var;


.fadeIn.active {
    animation: fadeIn 1.3s ease-in-out forwards;
}

.slideInFromUnder.active {
    animation: slideInFromUnder 1s ease-in-out forwards;
}

.slideInFromLeft.active {
    animation: slideInFromLeft 1s ease-in-out forwards 0.1s;
}

.slideInFromRight.active {
    animation: slideInFromRight 1s ease-in-out forwards;
}