@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-about {
    width: 100%;
    padding-bottom: 100px;
    position: relative;
    @include var.breakpoint(pc) {
        padding-bottom: 130px;
    }

    h2 {
        width: min-content;
        font-size: clamp(8.0rem, 9.9vw, 15rem);
        color: var.$black;
        padding-top: 60px;
        margin: 0 auto;
        border-bottom: 3px solid var.$fire;
        @include var.breakpoint(pc) {
            padding-top: 100px;
        }
    }

    .about__lead {
        font-family: "Noto Sans JP", sans-serif;
        font-size: clamp(2.4rem, 2.3vw, 3.4rem);
        font-weight: 500;
        color: var.$black;
        text-align: center;
        margin-top: 20px;
        @include var.breakpoint(pc) {
            margin-top: 30px;
        }
    }

    .about__text {
        font-family: "Noto Sans JP", sans-serif;
        font-size: 1.8rem;
        text-align: center;
        line-height: 1.8;
        width: 86%;
        margin: 32px auto 0 auto;
        @include var.breakpoint(tablet) {
            width: 64%;
        }
        @include var.breakpoint(pc) {
            margin-top: 60px;
            width: 50%;
        }
    }
}

.p-about::before {
    content: '';
    width: 100%;
    height: 100%;
    background-image: url(../../../images/bgimg_about.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
    position: absolute;
    top: 0;
}