@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-archive__content {
    width: 100%;
    margin-top: 50px;
    position: relative;
    @include var.breakpoint(tablet) {
        margin-top: 80px;
    }

    .item-wrap {
        width: 90%;
        max-width: 540px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        gap:  70px;
        @include var.breakpoint(tablet) {
            max-width: 1240px;
            grid-template-columns: 1fr 1fr;
            gap:  100px 7%;
        }
        @include var.breakpoint(pc) {
            width: 80%;
        }

        .p-product-item--type01,.p-product-item--type02 {
            width: 100%;

            .product-item__img {
                width: 100%;
                aspect-ratio: 1.3 / 1;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .product-item__caption {
                color: var.$white;
                margin-top: 16px;
                border-left: 1px solid var.$white;
                border-right: 1px solid var.$white;

                .title {
                    font-size: 2.4rem;
                    font-weight: 700;
                    padding: 6px 2% 0 2%;
                }

                .category {
                    height: 34px;
                    padding: 0 2% 0 2%;
                    margin-top: 12px;
                    display: flex;
                    align-items: center;
                    border-top: 1px solid var.$white;
                    border-bottom: 1px solid var.$white;

                    .date {
                        width: 24%;
                    }
                }

                .text {
                    line-height: 1.4;
                    padding: 0 2% 6px 2%;
                    margin-top: 12px;
                }
            }
        }

        .p-product-item--type02 {

            .product-item__img__container {
                width: 100%;
                aspect-ratio: 1.5 / 1;
                display: grid;
                grid-template-columns: 1.8fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 3%;

                .item01 {
                    grid-column: 1;
                    grid-row: 1/ 3;
                }
                .item02 {
                    grid-column: 2;
                    grid-row: 1;
                }
                .item03 {
                    grid-column: 2;
                    grid-row: 2;
                }

                .item01,.item02,.item03 {
                    min-width: 0;
                    min-height: 0;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}