@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-archive-item__content {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 100px;
    @include var.breakpoint(tablet) {
        margin-top: 80px;
        margin-bottom: 150px;
    }
    @include var.breakpoint(pc) {
        margin-top: 140px;
    }

    .originalitem-wrap {
        width: 90%;
        max-width: 540px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        gap:  80px;
        @include var.breakpoint(tablet) {
            max-width: 1240px;
            grid-template-columns: 1fr 1fr;
            gap:  100px 6%;
        }
        @include var.breakpoint(pc) {
            width: 80%;
            gap:  100px 8%;
        }

        .originalitem-card--type1,.originalitem-card--type2 {
            width: 100%;

            .originalitem-card__img {
                display: block;
                aspect-ratio: 1.6 / 1;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.5s;
                }
            }
        }

        .originalitem-card__caption {
            padding: 0 2% 0 2%;
            margin-top: 16px;

            .title {
                font-size: 2.0rem;
                font-weight: 700;
                padding-bottom: 6px;
                border-bottom: 1px solid black;
            }

            .text {
                font-size: 1.8rem;
                line-height: 1.4;
                margin-top: 10px;
            }
        }

        .originalitem-card--type2 {

            .originalitem-card__img__container {
                width: 100%;
                aspect-ratio: 1.6 / 1;
                display: grid;
                grid-template-columns: 1.8fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 3%;

                .originalitem-card__img01 {
                    grid-column: 1;
                    grid-row: 1/ 3;
                }
                .originalitem-card__img02 {
                    grid-column: 2;
                    grid-row: 1;
                }
                .originalitem-card__img03 {
                    grid-column: 2;
                    grid-row: 2;
                }

                div {
                    min-width: 0;
                    min-height: 0;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: 0.5s;
                    }
                }
            }
        }

        .originalitem-card__img:hover img {
            transform: scale( 1.1);
        }

        .originalitem-card__img__container:hover .originalitem-card__img01 img {
            transform: scale( 1.1);
        }
    }
}