@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-flow-section {
    margin-top: 160px;
    overflow: hidden;
    position: relative;
    @include var.breakpoint(tablet) {
        margin-top: 200px;
    }

    .flow-section__title {
        font-family: "Noto Sans JP", sans-serif;
        text-align: center;
        color: var.$black;

        h3 {
            font-size: clamp(5.0rem, 5.0vw, 7.0rem);
            font-weight: 500;
        }

        p {
            font-size: clamp(2.2rem, 2.2vw, 3.2rem);
            font-weight: 500;
            margin: 12px auto 0 auto;
            @include var.breakpoint(pc) {
                margin-top: 24px;
            }
        }
    }

    .flow-section__content {
        margin: 40px auto 0 auto;
        display: grid;
        grid-template-columns: ( 320px);
        justify-content: center;
        @include var.breakpoint(tablet) {
            width: 90%;
            max-width: 740px;
            margin-top: 48px;
            grid-template-columns: repeat( 2, 320px);
            justify-content: space-between;
        }
        @include var.breakpoint(pc) {
            width: 84%;
            max-width: 1360px;
            min-width: 1080px;
            grid-template-columns: repeat( 4, 260px);
        }

        .flow__item {
            width: 100%;
            margin-bottom: 56px;

            .flow-number {
                font-family: "Fuzzy Bubbles", serif;
                font-size: 3.2rem;
                color: var.$fire;
                line-height: 0.6;
            }

            figure {
                .flow-img {
                    width: 240px;
                    aspect-ratio: 1 / 1;
                    border: 1px solid var.$black;
                    border-radius: 50%;
                    margin: 0 auto;
                    overflow: hidden;
                    @include var.breakpoint(pc) {
                        width: 260px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        filter: grayscale(100%);
                    }
                }

                figcaption {
                    font-family: "Noto Sans JP", sans-serif;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 20px;
                    color: var.$black;

                    h4 {
                        font-size: 2.4rem;
                        font-weight: 500;
                    }

                    .c-square-mark {
                        display: none;
                        @include var.breakpoint(pc) {
                            display: block;
                        }
                    }

                    p {
                        margin-top: 20px;
                        line-height: 1.6;
                    }
                }
            }
        }
    }

    .c-link-btn--black {
        margin: 20px auto 0 auto;
    }
}