@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-instagram {
    width: 100%;
    height: auto;
    background-image: url(../../../images/stentexture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(20, 22, 27, 0.9);
    background-blend-mode: multiply;
    margin-top: 100px;
    padding-top: 32px;
    padding-bottom: 32px;
    @include var.breakpoint(tablet) {
        margin-top: 140px;
        padding-top: 56px;
        padding-bottom: 64px;
    }

    h2 {
        font-size: clamp(6.0rem, 8.5vw, 12rem);
        color: var.$white;
        margin-left: 5%;
        @include var.breakpoint(tablet) {
            margin-left: 11%;
        }
    }

    .container__wrap {
        width: 90%;
        max-width: 560px;
        margin: 24px auto 0 auto;
        @include var.breakpoint(tablet) {
            width: 70%;
            max-width: 1320px;
            margin-top: 40px;
        }
        @include var.breakpoint(pc) {
            width: 80%;
        }

        .img-container {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 10px;
            @include var.breakpoint(pc) {
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 12px;
            }

            .item {
                width: 100%;
                aspect-ratio: 1 / 1;

                img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                }
            }
        }
    }

    .instagram__link-btn {
        width: 240px;
        height: 48px;
        border: 1px solid var.$white;
        background-color: rgba(239, 241, 247, 0.1);
        margin: 32px auto 0 auto;
        transition: all 0.2s;
        @include var.breakpoint(tablet) {
            margin-top: 56px;
        }

        a {
            display: inline-block;
            width: 100%;
            font-family: "Teko", serif;
            color: var.$white;
            font-size: 2.4rem;
            letter-spacing: 0.2rem;
            line-height: 48px;
            text-align: center;
            transition: all 0.4s;
        }
    }

    .instagram__link-btn:hover {
        background-color: rgba(239, 241, 247, 0.5);
        border: 1px solid var.$black;
        a {
            font-weight: 500;
            color: var.$black;
            letter-spacing: 0.3rem;
        }
    }
}