@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-main-visual {
    width: 100%;
    height: 740px;
    background-color: var.$black;
    position: relative;
    @include var.breakpoint(pc) {
        height: 850px;
    }

    .img__container {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .main-visual__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 65% 70%;
            animation: fadeInOut-zoom 8s ease 0s infinite normal none;
        }

        .hidden {
            display: none;
        }
    }

    .catch-copy,.concept {
        font-family: "Teko", serif;
        font-weight: 400;
        color: var.$white;
        letter-spacing: 0.05rem;
    }

    .catch-copy {
        font-size: 10.0rem;
        line-height: 0.8;
        text-shadow: 1.0px 1.0px 2.0px var.$black;
        position: absolute;
        bottom: 50px;
        left: 5%;
        animation: slideInFromRight 0.5s ease-in-out forwards;
        @include var.breakpoint(tablet) {
            font-size: 12.0rem;
        }
        @include var.breakpoint(pc) {
            font-size: 13.0rem;
            bottom: 186px;
        }

        span {
            display: block;
            @include var.breakpoint(pc) {
                display: inline;
            }
        }

        span:first-child {
            animation: slideInFromRight 1.0s ease-in-out forwards;
        }
        span:last-child {
            animation: slideInFromRight 1.5s ease-in-out forwards;
        }
    }

    .concept {
        font-size: 2.6rem;
        text-align: end;
        position: absolute;
        top: 160px;
        right: 5%;
        animation: slideInFromLeft 1.5s ease-in-out forwards;
        @include var.breakpoint(pc) {
            font-size: 4.0rem;
            text-align: start;
            bottom: 60px;
            left: 5%;
            top: auto;
            right: auto;
            animation: fadeIn 1.5s ease-in-out forwards;
        }

        span {
            display: block;
            @include var.breakpoint(pc) {
                display: inline;
            }
        }
        .br-point {
            margin-top: 4px;
        }
    }
}