@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-orderproduct {
    position: relative;

    .bg-img {
        width: 820px;
        height: 100%;
        background: linear-gradient( to bottom, rgba(239, 241, 247, 0) 80%, rgba(239, 241, 247, 1.0) 100%), url(../../../images/bgimg_orderproduct.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center 0;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
        @include var.breakpoint(tablet) {
            width: 1100px;
            background-size: 100% auto;
        }
        @include var.breakpoint(pc) {
            width: 100%;
        }
    }

    .heading {
        color: var.$white;
        padding-top: 45px;
        margin-left: 5%;
        position: relative;
        @include var.breakpoint(pc) {
            padding-top: 80px;
        }

        h2 {
            font-size: clamp(6.0rem, 8.5vw, 12rem);
        }

        .orderproduct__lead {
            font-family: "Noto Sans JP", sans-serif;
            font-size: 2.4rem;
            font-weight: 500;
            margin-top: 12px;
            display: flex;

            .c-square-mark {
                margin-right: 10px;
                align-self: center;
                @include var.breakpoint(pc) {
                    margin-right: 18px;
                }
            }

            p {
                font-size: clamp(1.6rem, 1.7vw, 2.6rem);
            }
        }
    }

    .img-wrap {
        width: 80%;
        max-width: 1400px;
        min-width: 400px;
        aspect-ratio: 1.3 / 1;
        position: relative;
        top: 24px;
        left: 50%;
        transform: translateX(-50%);
        @include var.breakpoint(tablet) {
            top: -10px;
        }

        .img01 {
            width: 50%;
            aspect-ratio: 1 / 1.2;
            position: absolute;
            top: 13%;
            left: 0;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .img02 {
            width: 46%;
            aspect-ratio: 1.6 / 1;
            position: absolute;
            top: 0;
            right: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .img03 {
            width: 59%;
            aspect-ratio: 1.2 / 1;
            background-color: var.$black;
            position: absolute;
            bottom: 0;
            right: 0;

            img {
                width: 93%;
                aspect-ratio: 1.2 / 1;
                object-fit: cover;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }

        .name {
            font-family: "Oswald", serif;
            font-size: clamp( 3.0rem, 4.8vw, 8.5rem);
            color: var.$white;
            text-shadow: 1.0px 1.0px 0 var.$black;
            white-space: nowrap;
            position: absolute;
            top: -6%;
            right: 18px;
        }
    }
    
    .orderproduct__text {
        width: 90%;
        font-size: 1.8rem;
        font-weight: 500;
        color: var.$white;
        line-height: 2.0;
        margin-top: 50px;
        margin-left: 5%;
        position: relative;
        @include var.breakpoint(tablet) {
            width: 34%;
            min-width: 450px;
            font-size: 2.0rem;
            margin-top: 32px;
            margin-left: 11%;
        }
    }

    .c-link-btn--black {
        margin-top: 80px;
        position: relative;
        margin-left: auto;
        margin-right: auto;

        @include var.breakpoint(tablet) {
            margin-top: 100px;
            margin-left: 11%;
        }
    }
}