@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-orderproduct {
    background: linear-gradient( to bottom, rgba(239, 241, 247, 0) 80%, rgba(239, 241, 247, 1.0) 100%), url(../../../images/orderproduct_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center 0;

    .heading {
        color: var.$white;
        padding-top: 80px;
        margin-left: 11%;
        
        h2 {
            font-size: clamp(6.0rem, 8.5vw, 12rem);
        }

        .orderproduct__lead {
            width: 45%;
            font-family: "Noto Sans JP", sans-serif;
            font-size: 2.4rem;
            font-weight: 500;
            margin-top: 12px;
            display: flex;

            .c-square-mark {
                margin-right: 18px;
                align-self: center;
            }
            p {
                font-size: clamp(1.6rem, 1.7vw, 2.6rem);
            }
        }
    }

    .img-wrap {
        width: 80%;
        max-width: 1400px;
        aspect-ratio: 1.3 / 1;
        position: relative;
        top: -10px;
        margin: 0 auto;

        .img01 {
            width: 50%;
            aspect-ratio: 1 / 1.2;
            position: absolute;
            top: 13%;
            left: 0;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .img02 {
            width: 46%;
            aspect-ratio: 1.5 / 1;
            position: absolute;
            top: 0;
            right: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 10%;
            }
        }

        .img03 {
            width: 59%;
            aspect-ratio: 1.2 / 1;
            background-color: var.$black;
            position: absolute;
            bottom: 0;
            right: 0;

            img {
                width: 93%;
                aspect-ratio: 1.2 / 1;
                object-fit: cover;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
    
    .orderproduct__text {
        width: 34%;
        min-width: 450px;
        font-size: 2.0rem;
        font-weight: 500;
        color: var.$white;
        line-height: 2.0;
        margin-top: 32px;
        margin-left: 11%;
    }

    .c-link-btn {
        margin-top: 100px;
        margin-left: 11%;
        border: 1px solid rgba(239, 241, 247, 0.6);
    }
}