@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-pagination {
    margin-top: 70px;
    margin-bottom: 50px;
    @include var.breakpoint(tablet) {
        margin-top: 100px;
        margin-bottom: 80px;
    }

    .wp-pagenavi {
        display: flex;
        justify-content: center;
        gap: 24px;
        color: var.$white;
        @include var.breakpoint(tablet) {
            gap: 32px;
        }

        .previouspostslink,.nextpostslink {
            width: 32px;
            position: relative;
            font-size: 0;
            margin: 0 20px;
            transition: 0.3s;
        }

        .previouspostslink::before,.nextpostslink::before {
            content: "";
            width: 32px;
            height: 1.0px;
            background-color: var.$white;
            position: absolute;
            top: 50%;
        }
        .previouspostslink::after,.nextpostslink::after {
            content: "";
            width: 12px;
            height: 1.0px;
            background-color: var.$white;
            position: absolute;
            top: 50%;
            transform: rotate(-40deg);
            transform-origin: bottom left;
        }
        .nextpostslink::after {
            right: 0;
            transform: rotate(40deg);
            transform-origin: bottom right;
        }

        .current,.page {
            width: 32px;
            height: 32px;
            font-family: "Teko", serif;
            font-size: 2.4rem;
            text-align: center;
            line-height: 34px;
        }
        
        .current {
            background-color: var.$white;
            color: var.$black;
        }

        .previouspostslink:hover,.nextpostslink:hover,.page:hover {
            opacity: 0.6;
        }
    }
}

.page-id-79 { //itemsページ
    .p-pagination .wp-pagenavi {
        color: var.$black;

        .previouspostslink::before,.nextpostslink::before,
        .previouspostslink::after,.nextpostslink::after {
            background-color: var.$black;
        }

        .current {
            background-color: var.$black;
            color: var.$white;
        }
    }
}