@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-partner {
    width: 100%;
    height: 138px;
    background-color: var.$white;
    @include var.breakpoint(tablet) {
        height: 160px;
        display: flex;
        align-items: center;
    }

    h2 {
        font-family: "Big Shoulders Stencil Text", serif;
        color: var.$black;
        font-size: clamp( 2.4rem, 2.8vw, 4.0rem);
        font-weight: 700;
        letter-spacing: 0.2rem;
        border-bottom: 1px solid var.$black;
        margin: 0 5%;
        padding: 24px 0 3px 0;
        @include var.breakpoint(tablet) {
            margin-right: 0;
            padding: 20px 5% 20px 0;
            border-right: 2px solid var.$black;
            border-bottom: none;
        }
        @include var.breakpoint(pc) {
            margin-left: 8%;
        }
    }

    .slider {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .swiper_auto {
            margin-top: 20px;
            @include var.breakpoint(tablet) {
                margin-top: 44px;
            }

            .swiper-wrapper {
                height: 40px;
                transition-timing-function: linear;
                @include var.breakpoint(tablet) {
                    height: 64px;
                }
                @include var.breakpoint(pc) {
                    height: 72px;
                }

                .swiper-slide {
                    align-self: center;
                    display: flex;
                    justify-content: center;
                    transition: opacity 0.2s;
                    a {
                        display: inline-block;
                        height: 100%;
                        img {
                            height: 100%;
                        }
                    } 
                }
                .swiper-slide.logo__uag {
                    height: 100%;
                    margin-top: 6px;
                }
                .swiper-slide.logo__gcd {
                    height: 92%;
                    margin-bottom: 6px;
                }
                .swiper-slide.logo__loko {
                    height: 96%;
                }
                .swiper-slide.logo__ebanataw {
                    height: 45%;
                }
                .swiper-slide:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}