@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-productcase__content {
    width: 100%;
    margin-top: 50px;
    position: relative;
    @include var.breakpoint(tablet) {
        margin-top: 80px;
    }

    .item-wrap {
        width: 90%;
        max-width: 540px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        gap:  90px;
        @include var.breakpoint(tablet) {
            max-width: 1240px;
            grid-template-columns: 1fr 1fr;
            gap:  100px 7%;
        }
        @include var.breakpoint(pc) {
            width: 80%;
        }

        .productcase-item {
            width: 100%;

            .productcase-item__img {
                width: 100%;
                aspect-ratio: 1.3 / 1;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .productcase-item__caption {
                color: var.$white;
                margin-top: 16px;
                border-left: 1px solid var.$white;
                border-right: 1px solid var.$white;

                .title {
                    font-size: 2.4rem;
                    font-weight: 700;
                    padding: 6px 2% 0 2%;
                }

                .category {
                    height: 34px;
                    padding: 0 2% 0 2%;
                    margin-top: 12px;
                    display: flex;
                    align-items: center;
                    border-top: 1px solid var.$white;
                    border-bottom: 1px solid var.$white;

                    .date {
                        width: 24%;
                    }
                }

                .text {
                    line-height: 1.4;
                    padding: 0 2% 6px 2%;
                    margin-top: 12px;
                }
            }
        }
    }
}