@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-swiper-area {
    height: 240px;
    width: 80%;
    max-width: 1200px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 11;
    @include var.breakpoint(tablet) {
        height: 380px;
        margin-top: 64px;
    }

    .swiper {
        height: 100%;

        .swiper-wrapper .swiper-slide {
            width: auto;

            .item {
                height: 100%;
                aspect-ratio: 1.2 / 1;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    
    .swiper-button-prev,.swiper-button-next {
        color: var.$black;
    }
    .swiper-button-prev {
        left: -34px;
    }
    .swiper-button-next {
        right: -34px;
    }

    .swiper-pagination-bullets {
        position: static;
        margin-top: 8px;
    }
    .swiper-pagination-bullet-active {
        background: var.$fire;
    }
}