@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-header {
    width: 92%;
    margin: 24px auto;
    display: flex;
    justify-content: space-between;
    @include var.breakpoint(pc) {
        margin-top: 40px;
    }

    .gigi-logo {
        width: 72px;
        @include var.breakpoint(pc) {
            width: 124px;
        }

        a {
            display: inline-block;
            width: 100%;

            svg {
                fill: var.$white;
                filter: drop-shadow( 1px 1px 1px var.$black);
            }
        } 
    }

    .header__nav {
        display: none;
        @include var.breakpoint(tablet) {
            display: block;
        }

        .menu {
            width: 380px;
            margin-top: 12px;
            display: flex;
            justify-content: space-between;

            .menu__item {
                font-family: "Teko", serif;
                font-size: 2.1rem;
                font-weight: 500;
                color: var.$white;
                transition: 0.3s;

                a {
                    text-shadow: 0.5px 0.5px 0 var.$black;
                    letter-spacing: 0.1rem;
                    transition: 0.2s;

                }
            }
        }
    }

    .link-unit {
        width: 164px;
        margin-top: 10px;
        display: none;
        @include var.breakpoint(tablet) {
            display: flex;
            justify-content: space-between;
        }
    }

    .header__nav .menu .menu__item:hover {
        transform: translateY( -2px);
    }
    .header__nav .menu .menu__item:hover a {
        text-shadow: 0.5px 3.0px 0 var.$black;
    }
}

.archive-item-page .l-main .l-header .p-header {
    .gigi-logo a svg {
        fill: var.$black;
        filter: drop-shadow( 1px 1px 2px var.$gray);
    }
    .header__nav .menu .menu__item {
        color: var.$black;
        a {
            text-shadow: 0.5px 0.5px 0 var.$gray;
        }
    }
}

.archive-item-page .l-main .l-header .p-header {
    .link-unit .c-insta-icon a .cls-1 {
        fill: var.$black;
        filter: drop-shadow( 20px 20px 0 var.$gray);
    }
}