@charset "UTF-8";
@use "../foundation/variables" as var;


.l-wrapper {
    width: 100%;
    position: relative;
    background-color: var.$white;
    overflow: hidden;
}

.page-id-75 .l-wrapper {
    background-color: var.$black;
}

.page-id-79 .l-wrapper {
    background-color: var.$gray;
}